* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

.general-frame-top {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 230px 1460px 230px;
    height: auto;
    justify-content: center;

}

.left-column {
    background-color: #171717;
}

.center-column {
    background-color: #171717;
    justify-content: center;

}

.right-column {
    background-color: #171717;
}

.column {
    font-size: 34px;
    color: aliceblue;
    justify-content: center;
    margin-top: 30px;
}

.second-layer {
    display: grid;
    grid-template-rows: minmax(50px, auto) minmax(50px, auto);

}

/* header */
.header-top {
    display: grid;
    grid-template-columns: 432px 218px;
    grid-row: 1/2;
    margin-top: 46px;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
}

.company-logo {}

.call-back {
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    background: none;
    text-decoration: none;
}

.call-back-2 {

    border: none;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    background: none;
    text-decoration: none;
}

.header-description {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    width: 1180px;
    color: #FFFFFF;
}

.header-about {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-bottom: 41px;
    margin-top: 128px;
}

.header-block {
    box-sizing: border-box;
    padding-top: 20px;
    display: grid;
    gap: 30px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    grid-template-rows: repeat(4, 219px);
    grid-template-columns: repeat(6, 219px);
    justify-content: center;
    margin-top: 41px;
    margin-bottom: 50px;
}

.header {
    display: grid;
    box-sizing: border-box;
    font-size: 24px;
    padding: 5px 15px;
    text-align: center;
    justify-content: center;
    /* align-items: center center; */
    place-content: center center;

}

.head_1 {
    grid-column: 1/3;
    grid-row: 1/3;
    background: #634F2C;
}

.head_2 {

    grid-column: 3/5;
    grid-row: 1/3;
    background: #B4A385;
}

.head_3 {
    grid-column: 5/7;
    grid-row: 1/3;
    background: #E4B564;
}

.head_4 {
    grid-column: 1/4;
    grid-row: 3/5;
    background: #635A4A;
}

.head_5 {
    grid-column: 4/7;
    grid-row: 3/5;
    background: #B08C4D;
}

/* main */
.main-menu {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 94px;
    margin-top: 161px;
}

.main-block {
    box-sizing: border-box;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: repeat(16, 27px);
    margin-bottom: 191px;
}

.main {
    color: #FFFFFF;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding: 44px 0 0 51px;

}

.menu_1 {
    grid-column: 1/2;
    grid-row: 1/7;
    background: #0E0E0E;

}

.menu_2 {
    grid-column: 1/2;
    grid-row: 7/17;
    background: #1F1F1F;
}

.menu_3 {
    grid-column: 2/3;
    grid-row: 1/9;
    background: #242424;
}

.menu_4 {
    grid-column: 2/3;
    grid-row: 9/17;
    color: black;
    background: #E4B564;
}

.menu_5 {
    grid-column: 3/4;
    grid-row: 1/6;
    background: #1F1F1F;

}

.menu_6 {
    grid-column: 3/4;
    grid-row: 6/12;
    background: #0E0E0E;
}

.menu_7 {
    grid-column: 3/4;
    grid-row: 12/17;
    background: #0A0909;
}

.general-frame-bottom {
    display: grid;
    grid-template-columns: 230px 1460px 230px;
    height: auto;
    justify-content: center;
}

.bottom-column-left {
    background-color: black;
}

.bottom-column-center {
    background-color: black;
    justify-content: center;
    /* text-align: center; */
}

.bottom-column-right {
    background-color: black;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 172px;
}

.footer-description {
    margin-bottom: 72px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.bottom-footer {
    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    background: none;
}

.footer-block {
    display: grid;
    grid-template-columns: 487px 487px 487px;
    grid-template-rows: 487px 487px;
    justify-content: center;
    margin-bottom: 238px;
}

.footer-grid {
    display: grid;
    place-content: center;
}

.footer-menu-1 {
    background: #634F2C;

}

.footer-menu-2 {
    background: rgba(232, 210, 171, 0.76);
}

.footer-menu-3 {
    background: #E4B564;
}

.footer-menu-4 {
    background: #635A4A;
}

.footer-menu-5 {
    background: #B08C4D;
}

.footer-menu-6 {
    background: #634F2C;
}